@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 768(Desktop) */
/* media query */
@media screen and (min-width: 768px) {
}
