@import "reset.css";

:root {
  /* color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-lightGray: #e6e6e6;
  --color-background: #f2f2f2;

  /* box */
  --size-box-padding: 600px;
  --size-box-margin-think: 15px;
  --size-box-margin-small: 32px;
  --size-box-margin-middle: 52px;
  --size-box-borderSolid: 1px;

  /* img size */
  --img-coupon-width: 132px;
  --img-advertising-width: 768px;
  --img-advertising-width-small: 181px;
  --img-advertising-height-small: 60px;
  --img-advertising-height-middle: 120px;
  --img-advertising-height-large: 200px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

tr {
  border: var(--size-box-borderSolid) solid var(--color-lightGray);
}

td {
  padding: 10px 51px;
  border: var(--size-box-borderSolid) solid var(--color-lightGray);
}

button {
  cursor: pointer;
}

/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--size-box-margin-small);
  border-bottom: var(--size-box-borderSolid) solid var(--color-lightGray);
}

/* location */
.location {
  margin-bottom: var(--size-box-margin-middle);
  padding: 0 var(--size-box-padding);
}

/* menu list */
.menu {
  margin-bottom: var(--size-box-margin-middle);
  padding: 0 var(--size-box-padding);
}

.menu__list {
  display: flex;
  justify-content: space-around;
}

.menu__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link img {
  display: block;
}

/* coupon list */
.coupon {
  margin-bottom: var(--size-box-margin-small);
}

.coupon__list {
  margin: auto;
}

.coupon__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coupon__link img {
  display: block;
}

.coupon__row .coupon__data:nth-child(1) img,
.coupon__row .coupon__data:nth-child(2) img {
  width: var(--img-coupon-width);
  height: auto;
}

/* main */
.main {
  background-color: var(--color-background);
}

/* advertising first  */
.advertising__first {
  display: flex;
  justify-content: center;
}

.advertising__link--first {
  margin: var(--size-box-margin-think) 0;
}

.advertising__link--first img {
  width: var(--img-advertising-width);
  height: var(--img-advertising-height-small);
}

/* advertising slide */
.advertising__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--size-box-margin-think);
}

.slide__link {
  display: block;
}

.slide__link img {
  width: var(--img-advertising-width);
  height: var(--img-advertising-height-middle);
}

/* search popular */
.search__popular {
  width: var(--img-advertising-width);
  height: 238px;
  margin: auto;
  margin-bottom: var(--size-box-margin-think);
  padding: 15px;
  background-color: var(--color-white);
}

.search__popular__title {
  font-size: 25px;
  margin-bottom: var(--size-box-margin-think);
}

.search__popular__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--size-box-margin-think);
}

.popular__list {
  position: relative;
}

.popular__list--link img {
  width: var(--img-advertising-width-small);
  height: var(--img-advertising-height-middle);
}

.popular__name {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--color-white);
}

.search__popular__tag {
  display: flex;
}

.tag__list {
  margin-right: 25px;
  padding: 10px;
  border: var(--size-box-borderSolid) solid black;
}

/* advertinsing__second */
.advertising__second {
  display: flex;
  justify-content: center;
  margin-bottom: var(--size-box-margin-think);
}

.advertising__link--second img {
  width: var(--img-advertising-width);
  height: auto;
}

/* event Line */
.event__line {
  background-color: var(--color-white);
  width: 770px;
  height: 380px;
  margin: auto;
  margin-bottom: var(--size-box-margin-think);
  padding: 15px;
}

.event__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--size-box-margin-think);
}

.event__title {
  font-size: 20px;
}

.event__button {
  width: 100px;
  color: blue;
  padding: 5px;
  border: var(--size-box-borderSolid) solid blue;
  border-radius: 20px;
}

.event__list {
  display: flex;
  justify-content: space-around;
  margin-bottom: var(--size-box-margin-think);
  padding: 10px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.event__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--size-box-margin-think);
  padding-bottom: 15px;
  border-bottom: var(--size-box-borderSolid) solid black;
}

.item__title {
  display: block;
  font-size: 16px;
  margin-bottom: var(--size-box-margin-think);
}

.item__price {
  display: flex;
  justify-content: flex-end;
}

.event__link img {
  width: 170px;
  height: 125px;
  margin-bottom: var(--size-box-margin-think);
  border-radius: 5px;
}

.next__page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.next__button {
  font-size: 15px;
}

/* fun line */
.fun__line {
  background-color: var(--color-white);
  width: 770px;
  height: 380px;
  margin: auto;
  padding: 15px;
}

.fun__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fun__column {
  margin-bottom: var(--size-box-margin-think);
}

.fun__title {
  font-size: 20px;
  margin-bottom: var(--size-box-margin-think);
}

.fun__subtitle {
  opacity: 0.6;
}

.fun__button {
  width: 100px;
  color: blue;
  padding: 5px;
  border: var(--size-box-borderSolid) solid blue;
  border-radius: 20px;
}

.fun__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--size-box-margin-think);
  padding-bottom: 15px;
  border-bottom: var(--size-box-borderSolid) solid black;
}

.fun__link img {
  width: 170px;
  height: 125px;
  margin-bottom: var(--size-box-margin-think);
  border-radius: 5px;
}

.price__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fun__specials {
  display: block;
  font-size: 12px;
  color: red;
}

.price__sale {
  color: red;
}

/* media query */
@media screen and (max-width: 768px) {
}
