<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>뜨거운 밤</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    <!-- header -->
    <header class="header">
      <a href="#" class="header__logo">
        <img src="/image/page-logo.png" alt="logo" />
      </a>
      <!-- <a href="#" class="header__search">
        <i class="fas fa-search"></i>
      </a> -->
    </header>
    <!-- location -->
    <section class="location">
      <button class="location__button">
        <a href="#">
          <i class="fas fa-location-arrow"></i>
          <span class="location__current">현재 위치</span>
          <i class="fas fa-chevron-right"></i>
        </a>
      </button>
    </section>
    <!-- menu list -->
    <section class="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">모텔</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">호텔</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">프리미엄호텔</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">리조트/콘도</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">펜션/풀빌라</span>
          </a>
        </li>
      </ul>
      <!-- <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">글램핑/카라반</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">게스트하우스</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">항공권</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">렌터카</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">KTX</span>
          </a>
        </li>
      </ul> -->
    </section>
    <!-- coupon list -->
    <section class="coupon">
      <table class="coupon__list">
        <tr class="coupon__row">
          <td class="coupon__data">
            <a href="" class="coupon__link">
              <img
                src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/ic-coupon-fill-yablue.svg"
                alt="coupon"
              />
              <span class="coupon__name">선착순 쿠폰</span>
            </a>
          </td>
          <td class="coupon__data">
            <a href="" class="coupon__link">
              <img
                src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/ic-infinite-fill-yablue.svg"
                alt="coupon"
              />
              <span class="coupon__name">무한쿠폰룸</span>
            </a>
          </td>
          <td class="coupon__data">
            <a href="" class="coupon__link">
              <img
                src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/ic_vipsummer_2.png"
                alt="coupon"
              />
              <span class="coupon__name">썸머VIP</span>
            </a>
          </td>
        </tr>
      </table>
    </section>
    <!-- main -->
    <main class="main">
      <!-- advertising first -->
      <aside class="advertising__first">
        <a href="#" class="advertising__link--first">
          <img
            src="https://yaimg.yanolja.com/v5/2020/09/01/13/5f4dc87bc87214.13265438.png"
            alt="첫번째 광고"
          />
        </a>
      </aside>
      <!-- advertising slide  -->
      <aside class="advertising__slide">
        <a href="" class="slide__link">
          <img
            src="https://yaimg.yanolja.com/v5/2020/08/26/18/5f4627625d6757.19773323.png"
            alt=""
          />
        </a>
        <a href="" class="slide__link">
          <img
            src="https://yaimg.yanolja.com/v5/2020/06/30/13/5efabf0a6b9e35.42860288.png"
            alt=""
          />
        </a>
        <a href="" class="slide__link">
          <img
            src="https://yaimg.yanolja.com/v5/2020/07/01/20/5efc785526d106.59073833.jpg"
            alt=""
          />
        </a>
        <a href="" class="slide__link">
          <img
            src="https://yaimg.yanolja.com/v5/2020/08/31/17/5f4caf716a0211.67219362.png"
            alt=""
          />
        </a>
        <a href="" class="slide__link">
          <img
            src="https://yaimg.yanolja.com/v5/2020/08/31/17/5f4cafaf9b51c6.73272766.png"
            alt=""
          />
        </a>
      </aside>
      <!-- search popular -->
      <section class="search__popular">
        <h1 class="search__popular__title">회원 인기 검색어</h1>
        <ul class="search__popular__list">
          <li class="popular__list">
            <a href="#" class="popular__list--link">
              <img
                src="//yaimg.yanolja.com/joy/sunny/static/images/thumb-promotion-nor@2x.png"
                alt="프렌차이즈 프로모션"
              />
              <span class="popular__name">
                #프렌차이즈
                <br />
                프로모션
              </span>
            </a>
          </li>
          <li class="popular__list">
            <a href="#" class="popular__list--link">
              <img
                src="//yaimg.yanolja.com/joy/sunny/static/images/thumb-interior-nor@2x.png"
                alt="신축/리모델링"
              />
              <span class="popular__name"> #신축/리모델링 </span>
            </a>
          </li>
          <li class="popular__list">
            <a href="#" class="popular__list--link">
              <img
                src="//yaimg.yanolja.com/joy/sunny/static/images/thumb-hotel-nor@2x.png"
                alt="초특가 호텔"
              />
              <span class="popular__name"> #초특가 호텔 </span>
            </a>
          </li>
          <li class="popular__list">
            <a href="#" class="popular__list--link">
              <img
                src="//yaimg.yanolja.com/joy/sunny/static/images/thumb-party-nor@2x.png"
                alt="파티룸"
              />
              <span class="popular__name"> #파티룸 </span>
            </a>
          </li>
        </ul>
        <ul class="search__popular__tag">
          <li class="tag__list">
            <a href="#" class="tag__link">
              <span class="tag__name"> #인기숙소 </span>
            </a>
          </li>
          <li class="tag__list">
            <a href="#" class="tag__link">
              <span class="tag__name"> #무료영화 </span>
            </a>
          </li>
          <li class="tag__list">
            <a href="#" class="tag__link">
              <span class="tag__name"> #스파페션 </span>
            </a>
          </li>
        </ul>
      </section>
      <!-- advertising second -->
      <aside class="advertising__second">
        <a href="#" class="advertising__link--second">
          <img
            src="https://yaimg.yanolja.com/v5/2020/08/20/11/5f3ddd7b514563.41686315.jpg"
            alt="두번째 광고"
          />
        </a>
      </aside>
      <!-- event line -->
      <section class="event__line">
        <div class="event__container">
          <h1 class="event__title">단7일, 특가펜션 라인UP!</h1>
          <button class="event__button">펜션/풀빌라 ></button>
        </div>
        <ul class="event__list">
          <li class="list">
            <span class="list__title">프라이빗</span>
          </li>
          <li class="list">
            <span class="list__title">풀빌라</span>
          </li>
          <li class="list">
            <span class="list__title">힐링충전</span>
          </li>
          <li class="list">
            <span class="list__title">인생샷</span>
          </li>
        </ul>
        <ul class="event__item">
          <li class="item">
            <a href="#" class="event__link">
              <img
                src="https://yaimg.yanolja.com/v5/2019/11/29/10/640/5de0726d079fe1.15767914.jpg"
                alt="강릉 라끄블랑펜션"
              />
              <span class="item__title"> 강릉 라끄블랑펜션 </span>
              <span class="item__price">
                <strong>69.000</strong>
                원
              </span>
            </a>
          </li>
          <li class="item">
            <a href="#" class="event__link">
              <img
                src="https://yaimg.yanolja.com/v5/2020/07/30/23/640/5f22d7ec3ed7c0.23341268.jpg"
                alt="가평 더베이리조트"
              />
              <span class="item__title">
                가평 더베이리조트 (프리
                <br />
                다이빙강습할인)
              </span>
              <span class="item__price">
                <strong>109,000</strong>
                원
              </span>
            </a>
          </li>
          <li class="item">
            <a href="#" class="event__link">
              <img
                src="https://yaimg.yanolja.com/v5/2020/07/27/14/640/5f1e6a311da5a7.09479394.jpg"
                alt="거제도 하이엔드펜션"
              />
              <span class="item__title">
                거제도 하이엔드펜션(스
                <br />
                파,루프탑수영장)
              </span>
              <span class="item__price">
                <strong>159,000</strong>
                원
              </span>
            </a>
          </li>
          <li class="item">
            <a href="#" class="event__link">
              <img
                src="https://yaimg.yanolja.com/v5/2020/09/03/17/640/5f50aeadd44051.92558449.jpg"
                alt="포천 펜션빌라지오"
              />
              <span class="item__title">
                포천 펜션빌라지오 (스파,
                <br />
                MD추천)
              </span>
              <span class="item__price">
                <strong>84.000</strong>
                원
              </span>
            </a>
          </li>
        </ul>
        <div class="next__page">
          <button class="next__button">
            <i class="fas fa-undo"></i>
            <span class="next__check">다른 테마 보기 1 / 2</span>
          </button>
        </div>
      </section>
      <!-- fun line -->
      <section class="fun__line">
        <div class="fun__header">
          <div class="fun__column">
            <h1 class="fun__title">이 세상 모든 놀거리</h1>
            <span class="fun__subtitle"> 레저 초특가 No.1 야놀자 </span>
          </div>
          <button class="fun__button">레저/티켓 ></button>
        </div>
        <ul class="fun__list">
          <li class="fun__list--item">
            <a href="#" class="fun__link">
              <img
                src="https://static.leisureq.io/800/production-gajago-deal-images/a32ed150-cc63-4719-8493-8aa6883f0af2.jpg"
                alt="휘닉스 평창 스키시즌권 1차"
              />
              <span class="item__title"
                >[추가물량 확보★] 휘닉스 <br />
                평창 스키시즌권 1차
              </span>
              <div class="price__container">
                <span class="fun__specials">야놀자특가</span>
                <span class="price__content">
                  <strong class="price__sale">59%</strong>
                  <strong class="price__price">210,100</strong>
                  원
                </span>
              </div>
            </a>
          </li>
          <li class="fun__list--item">
            <a href="#" class="fun__link">
              <img
                src="https://static.leisureq.io/800/production-gajago-deal-images/51c8d814-c96f-4a8d-b16f-3525c8c3fdd8.jpg"
                alt="비발디 파크 동계시즌권"
              />
              <span class="item__title"
                >[★선착순특가] 20/21 비<br />
                발디파크 동계 시즌권 ...
              </span>
              <div class="price__container">
                <span class="fun__specials">야놀자특가</span>
                <span class="price__content">
                  <strong class="price__sale">59%</strong>
                  <strong class="price__price">210,100</strong>
                  원
                </span>
              </div>
            </a>
          </li>
          <li class="fun__list--item">
            <a href="#" class="fun__link">
              <img
                src="https://static.leisureq.io/800/production-gajago-deal-images/fd4e9eb0-0754-40ad-b11d-0894d439e5b8.jpg"
                alt="에버랜드 종일권"
              />
              <span class="item__title"
                >[단독특가★] 에버랜드 종 <br />
                일권 할로윈 오픈기념...
              </span>
              <div class="price__container">
                <span class="fun__specials">야놀자특가</span>
                <span class="price__content">
                  <strong class="price__sale">59%</strong>
                  <strong class="price__price">210,100</strong>
                  원
                </span>
              </div>
            </a>
          </li>
          <li class="fun__list--item">
            <a href="#" class="fun__link">
              <img
                src="https://static.leisureq.io/800/production-gajago-deal-images/e86f6015-e861-408a-a7fa-45e91aa06a69.jpg"
                alt="에버랜드 동물원"
              />
              <span class="item__title"
                >[1+1특가★] 에버랜드2/3<br />
                인+판다아이스크림+재...
              </span>
              <div class="price__container">
                <span class="fun__specials">야놀자특가</span>
                <span class="price__content">
                  <strong class="price__sale">59%</strong>
                  <strong class="price__price">210,100</strong>
                  원
                </span>
              </div>
            </a>
          </li>
        </ul>
        <div class="next__page">
          <button class="next__button">
            <i class="fas fa-undo"></i>
            <span class="next__check">다른 테마 보기 1 / 2</span>
          </button>
        </div>
      </section>
    </main>
  </body>
</html>
