<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>뜨거운 밤</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    <!-- header -->
    <header class="header">
      <a href="#" class="header__logo">
        <img src="/image/page-logo.png" alt="logo" />
      </a>
      <!-- <a href="#" class="header__search">
        <i class="fas fa-search"></i>
      </a> -->
    </header>
    <!-- location -->
    <section class="location">
      <button class="location__button">
        <a href="#">
          <i class="fas fa-location-arrow"></i>
          <span class="location__current">현재 위치</span>
          <i class="fas fa-chevron-right"></i>
        </a>
      </button>
    </section>
    <!-- menu list -->
    <section class="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">모텔</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">호텔</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">프리미엄호텔</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">리조트/콘도</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">펜션/풀빌라</span>
          </a>
        </li>
      </ul>
      <!-- <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">글램핑/카라반</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">게스트하우스</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">항공권</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">렌터카</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">KTX</span>
          </a>
        </li>
      </ul> -->
    </section>
    <!-- coupon list -->
    <section class="coupon">
      <table class="coupon__list">
        <tr class="coupon__row">
          <td class="coupon__data">
            <a href="" class="coupon__link">
              <img
                src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/ic-coupon-fill-yablue.svg"
                alt="coupon"
              />
              <span class="coupon__name">선착순 쿠폰</span>
            </a>
          </td>
          <td class="coupon__data">
            <a href="" class="coupon__link">
              <img
                src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/ic-infinite-fill-yablue.svg"
                alt="coupon"
              />
              <span class="coupon__name">무한쿠폰룸</span>
            </a>
          </td>
          <td class="coupon__data">
            <a href="" class="coupon__link">
              <img
                src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/ic_vipsummer_2.png"
                alt="coupon"
              />
              <span class="coupon__name">썸머VIP</span>
            </a>
          </td>
        </tr>
      </table>
    </section>
    <!-- main -->
    <main class="main">
      <!-- advertising first -->
      <aside class="advertising__first">
        <a href="" class="advertising__link--first">
          <img
            src="https://yaimg.yanolja.com/v5/2020/09/01/13/5f4dc87bc87214.13265438.png"
            alt=""
          />
        </a>
      </aside>
      <!-- advertising slide  -->
      <aside class="advertising__slide">
        <a href="" class="slide__link">
          <img
            src="https://yaimg.yanolja.com/v5/2020/08/26/18/5f4627625d6757.19773323.png"
            alt=""
          />
        </a>
        <a href="" class="slide__link">
          <img
            src="https://yaimg.yanolja.com/v5/2020/06/30/13/5efabf0a6b9e35.42860288.png"
            alt=""
          />
        </a>
        <a href="" class="slide__link">
          <img
            src="https://yaimg.yanolja.com/v5/2020/07/01/20/5efc785526d106.59073833.jpg"
            alt=""
          />
        </a>
        <a href="" class="slide__link">
          <img
            src="https://yaimg.yanolja.com/v5/2020/08/31/17/5f4caf716a0211.67219362.png"
            alt=""
          />
        </a>
        <a href="" class="slide__link">
          <img
            src="https://yaimg.yanolja.com/v5/2020/08/31/17/5f4cafaf9b51c6.73272766.png"
            alt=""
          />
        </a>
      </aside>
      <!-- search__popular -->
      <section class="search__popular">
        <h1 class="search__popular__title">회원 인기 검색어</h1>
        <ul class="search__popular__list">
          <li class="popular__list">
            <a href="#" class="popular__list--link">
              <img
                src="//yaimg.yanolja.com/joy/sunny/static/images/thumb-promotion-nor@2x.png"
                alt="프렌차이즈 프로모션"
              />
              <span class="popular__name">
                #프렌차이즈
                <br />
                프로모션
              </span>
            </a>
          </li>
          <li class="popular__list">
            <a href="#" class="popular__list--link">
              <img
                src="//yaimg.yanolja.com/joy/sunny/static/images/thumb-interior-nor@2x.png"
                alt="신축/리모델링"
              />
              <span class="popular__name"> #신축/리모델링 </span>
            </a>
          </li>
          <li class="popular__list">
            <a href="#" class="popular__list--link">
              <img
                src="//yaimg.yanolja.com/joy/sunny/static/images/thumb-hotel-nor@2x.png"
                alt="초특가 호텔"
              />
              <span class="popular__name"> #초특가 호텔 </span>
            </a>
          </li>
          <li class="popular__list">
            <a href="#" class="popular__list--link">
              <img
                src="//yaimg.yanolja.com/joy/sunny/static/images/thumb-party-nor@2x.png"
                alt="파티룸"
              />
              <span class="popular__name"> #파티룸 </span>
            </a>
          </li>
        </ul>
        <ul class="search__popular__tag">
          <li class="tag__list">
            <a href="#" class="tag__link">
              <span class="tag__name"> #인기숙소 </span>
            </a>
          </li>
          <li class="tag__list">
            <a href="#" class="tag__link">
              <span class="tag__name"> #무료영화 </span>
            </a>
          </li>
          <li class="tag__list">
            <a href="#" class="tag__link">
              <span class="tag__name"> #스파페션 </span>
            </a>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
