<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>뜨거운 밤</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    <!-- header -->
    <header class="header">
      <a href="#" class="header__logo">
        <img src="/image/page-logo.png" alt="logo" />
      </a>
      <!-- <a href="#" class="header__search">
        <i class="fas fa-search"></i>
      </a> -->
    </header>
    <!-- location -->
    <section class="location">
      <button class="location__button">
        <i class="fas fa-location-arrow"></i>
        <span class="location__current">현재 위치</span>
        <i class="fas fa-chevron-right"></i>
      </button>
    </section>
    <!-- menu list -->
    <section class="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">모텔</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">호텔</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">프리미엄호텔</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">리조트/콘도</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">펜션/풀빌라</span>
          </a>
        </li>
      </ul>
      <!-- <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">글램핑/카라반</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">게스트하우스</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">항공권</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">렌터카</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <img
              src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/icon-quick-motel.svg"
              alt="motel"
            />
            <span class="menu__name">KTX</span>
          </a>
        </li>
      </ul> -->
    </section>
    <!-- coupon list -->
    <section class="coupon">
      <table class="coupon__list">
        <tr class="coupon__row">
          <td class="coupon__data">
            <a href="" class="coupon__link">
              <img
                src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/ic-coupon-fill-yablue.svg"
                alt="coupon"
              />
              <span class="coupon__name">선착순 쿠폰</span>
            </a>
          </td>
          <td class="coupon__data">
            <a href="" class="coupon__link">
              <img
                src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/ic-infinite-fill-yablue.svg"
                alt="coupon"
              />
              <span class="coupon__name">무한쿠폰룸</span>
            </a>
          </td>
          <td class="coupon__data">
            <a href="" class="coupon__link">
              <img
                src="//yaimg.yanolja.com/joy/sunny/static/images/quick-category/ic_vipsummer_2.png"
                alt="coupon"
              />
              <span class="coupon__name">썸머VIP</span>
            </a>
          </td>
        </tr>
      </table>
    </section>
  </body>
</html>
